#ifndef credentials_H
#define credentials_H

const unsigned char credCnt = 2;
const char* SSID[credCmt] = {
    "ssida",
    "ssidb"
};
const char* PASS[credCnt] = {
    "passabcd",
    "passefgh"
};

#endif
